 /*bagian header*/
.wrap .header{
    background-image: linear-gradient(45deg, red, blue);
	padding: 10px;
    text-align: center;
}
.badan{
	height: 530px;
}
/*bagian sidebar*/
.badan .sidebar{
	background: orange;
	float: left;	
	width: 25%;
	height: 100%;
    text-align: center;
}
.sidebar img{
    height: 330px;
    margin-top: 100px;
   

}
/*akhir sidebar*/
 
.wrap .badan .content{
	background:rgb(255, 213, 0);
	height: 100%;
	width: 75%;	
    float:left;   
}
.bio h2{
    font-size: 30px;
}
.bio li{
    list-style-type: none;
    font-size: 20px;
}

.medsos ul{
    display: flex;
    float: left;
    margin: 180px;
}
.medsos li{
    padding: 8px;
    list-style-type: none;
   
    text-align: center;
}
.content a{
    text-decoration: none;
}
.medsos img{
    height: 40px;
}
.footer{
    text-align: center;
	width: 100%;
    background-image: linear-gradient(45deg, blue,red)
}
