*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
  }
  ::selection{  
    color: #44749d;
    background: #c6d4e1;
  }
nav{
  position: fixed;
  background: #44749d;
  width: 100%;
  padding: 10px 0;
  z-index: 12;
}
nav .menu{
  max-width: 1250px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 20px;
}
.menu .logo a{
  text-decoration: none;
  color: #c6d4e1;
}
.menu ul{
  display: inline-flex;
}
.menu ul li{
  list-style: none;
  margin-left: 7px;
}
.menu ul li:first-child{
  margin-left: 0px;
}
.menu ul li a{
  text-decoration: none;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 8px 15px;
  border-radius: 5px;
  transition: all 0.3s ease;
}
.menu ul li a:hover{
  background: #c6d4e1;
  color: black;
}
.img{
  background: url('img/tugu.jpg')no-repeat;
  width: 100%;
  height: 100vh;
  background-size: cover;
  background-position: center;
  position: relative;
}
.img::before{
  content: '';
  position: absolute;
  height: 100%;
  width: 100%;
  background:rgb(0, 0, 0, 0.8);
}
.center{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
}
.center .title{
  color: #fff;
  font-size: 55px;
  font-weight: 600;
}
.center .sub_title{
  color: #fff;
  font-size: 52px;
  font-weight: 600;
}
.center .btns{
  margin-top: 20px;
}
.center .btns button{
  height: 55px;
  width: 170px;
  border-radius: 5px;
  border: none;
  margin: 0 10px;
  border: 2px solid white;
  font-size: 20px;
  font-weight: 500;
  padding: 0 10px;
  cursor: pointer;
  outline: none;
  transition: all 0.3s ease;
  text-decoration: none;
}
.center .btns button:first-child{
  color:white;
  background: none;
}
.btns button:first-child:hover{
  background:white;
  color: black;
}
.center .btns button:last-child{
  background: white;
  color:black;
}


.about{
  position: relative;
  padding-top: 50px;
  text-align: center;

}
.login{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  background: rgb(146, 73, 37);
  border-radius: 1px;

}
.login label{
  font-size: 10pt;
  color: #555;
}

input[type="nohp"],
input[type="text"],
input[type="email"],
textarea{
  padding: 8px;
  width: 95%;
  background: #efefef;
  border: 0;
  font-size: 10pt;
  margin: 6px 8px;
}
.tombol{
  background: #3498db;
  color: #fff;
  border: 0;
  padding: 5px 8px; 
}

.medsos{
  position: absolute;
  top: 52%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  padding: 0 20px;
  text-align: center;
  flex: 1px;
}
.medsos ul{
  margin:50px ;
  display: flex;
  list-style-type: none;
  justify-content: center;
}
.medsos li{
  margin-right: 56px;
}

.medsos img{
  height: 150px;
  width: 200px;
}
.article {
  padding-top: 90px;
  width: 98.8%;
  height: auto;
  border-radius: 3px;
  border: 1px solid gainsboro;
  clear: both; 
}

.article .konten {
    width: 23.5%;
    height: auto;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    float: left;
}

.article .isi {
    width: 98.5%;
    height: 5px;
    margin: 5px 5px 5px 5px;
    border-radius: 3px;
    border: 1px solid gainsboro;
    float: left;
}
.article .isi .judul {
    font-size: xx-large;
    margin-bottom: 10px;
    margin-left: 10px;
    margin-top: 10px;
}
.article .isi p {
    margin-top: 0;
}
.article .isi img {
    float: left;
    margin: 5px 5px 5px 5px;
}

.article .konten img {
    width: 95.8%;
    height: 150px;
    margin: 5px 5px 5px 5px;

}
.article .konten:hover {
    opacity:0.9;

}
.article .konten .judul a {
    margin-left: 5px;
    text-decoration: none;
    font-size:x-large;
    color:#020101;
}

.article .konten a:hover {
    opacity:5;
}
.login{
  padding: 1em;
  margin: 2em auto;
  width: 17em;
  background: #fff;
  border-radius: 3px;
}
.login label{
  font-size: 10pt;
  color: #555;
}
.tombol{
  background: #3498db;
  color: #fff;
  border: 0;
  padding: 5px 8px; 
}
footer {
  clear: both;
  width: 98.8%;
  height: auto;
  text-align: center;
  margin: 5px 5px 5px 5px;
  border-radius: 3px;
  border-bottom: 1px solid rgb(119, 24, 111);
  padding-top: 15px;
  padding-bottom: 15px;  
}